*{
  margin: 0px;
  padding:0px
}

.addDiv{
  display: flex;
  justify-items: left;
  justify-content: left;
  flex-direction: column; 

}
.content{
  width:350px;
  margin-top: 10px;
}
.label{
  display: block;
  margin:10px 0;

}
.item{
  margin:10px 55px;

}
.bordered{
  border: 1px solid rgb(169, 169, 169);
  width:500px;
  position: relative;
  height:80px;
}
.delete{
position:absolute;
right:10px;
top:0px;

}
.appRow{
  display: flex;
  justify-content: center


}
.header{
  height:180px;
  width: 100%;
  background: lightgray;
  position: relative;

}
.head{

  position: absolute;
  top:70px;
  left:480px;

}

.SearchTop{
  margin: 0 300px;
  /* padding-top: 50px; */
  padding-left: 50px;
  height:100px;
  width:900px;
 
  background: lightgray;

}
.ant-card {
  width:300px;
  height:150px;
  border: 1px solid black;
  display: inline-block !important;
}
.ant-list-item{
  display: inline-block !important;
}
.ant-col-8{
   display: inline-block !important;
}
.SearchDisplay{
  margin-left: 300px;
  margin-top:10px;



}
.list-group-item{
width:150px;
display: inline-block;
height: 50px;


}
.headerNav{
 width:100%;
 background:"#007bff38"


}